@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* { box-sizing: border-box; }

a {
	color: inherit;
	text-decoration: inherit;
}



html, body {
	min-height: 100vh;
    text-size-adjust: none;
    font-family: 'Lato';
    font-size:15px;
    font-weight: normal;
    line-height: 1.5;
}

img {
	width: 100%;
	display: block;
	height: auto;
}


.header{
    background: rgba(250,250,250,1);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.name__student{
    display: flex;
    justify-content: center;

    padding: 16px 0;
}
.student__link{
    font-size:32px;
    font-weight: 900;
}
.header__nav{
    display: flex;
    flex-flow: column;
}
.nav__item{

    background: white;
    display: flex;
    justify-content: center;
    padding: 8px;
    margin-bottom: 8px;

    font-weight: 900;

}
@media (min-width: 321px){
    .header__nav{
        flex-flow: row;
        justify-content: center;
    }
}
@media (min-width:769px){
    .header{
        flex-flow: row;
        justify-content: space-between;
        align-items: center;

        width:90%;
        margin: 0 auto;
    }
}
.profile{
    display: flex;
    flex-flow: column;
    justify-content: center;

    background: rgba(250,250,250,1);
    padding: 16px 16px;
}

.profile__images{
    display: flex;
    justify-content: center;

    padding-bottom: 16px;
}
.profile__image{
    width: 80vh;
}
.profile__comments{
    padding: 8px 0;
    display: flex;
    justify-content: center;
}
.profile__text{
    text-align: center;
    font-weight: bolder;
    color: darkgray;
}
@media (min-width: 321px){
    .profile{
        flex-flow:row;
        width: 90%;
        margin: 0 auto;
    }
    .profile__image{
        width: 20vh;
    }
    .profile__comments{
        order: -1;
    }
    .profile__text{
        text-align: initial;
    }
}
@media (min-width: 769px){
    .profile__comments{
        padding-right: 24px;
    }
    .profile__image{
        width: 30vh;
    }
}
.portfolio{
    display: flex;
    flex-flow: column;
    justify-content: center;

    padding: 16px 16px;
}
.portfolio__title{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 900;

    padding: 8px;
}

.portfolio__container{
    padding:8px;

    display: flex;
    flex-flow: column;
}
.services__text{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    padding: 16px 0;
}
.services__title{
    font-size: 16px;
    font-weight: 700;
}
.services__except{
    padding: 8px 0;
    font-size: 14px;
    color:grey;
    text-align: center;
}
@media (min-width: 321px){
    .portfolio__container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 16px;
    }
}
@media (min-width:769px){
    .portfolio__container{
        grid-template-columns: repeat(3,1fr);
    }
}
.contact{
    display: flex;
    flex-flow: column;
    justify-content: center;

    background: rgba(250,250,250,1);

    padding: 16px 16px;
}
.contact__title{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 900;

    padding: 8px;
}
.contact__container{
    padding: 8px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}
.contact__text{
    padding-bottom: 16px;
    color: darkgrey;
}
.contact__phone, .contact__mail{
    color:darkgrey;
}
.contact__phone a,.contact__mail a{
    margin-left: 8px;
    color:grey;
    font-weight: 900;
}
@media (min-width: 321px){
    .contact__text{
        width: 70%;
        margin: 0 auto;
    }
}
.footer{
    padding: 0px 16px;
}
.footer__container{
    border-top: 1px solid lightgray;

    padding: 24px 0;

    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.footer__right, .footer__links{
    font-weight: 900;
}

.footer__links{
    text-transform: uppercase;
}
.footer__link{
    padding-right: 16px;
}
@media (min-width: 321px){
    .footer__link:first-of-type{
        display:none;
    }
}
